<object type="application/x-shockwave-flash" width="{{width}}" height="{{height}}" data="http://sciencestage.com/flvplayer.swf">
<param name="movie" value="http://sciencestage.com/flvplayer.swf" />
<param name="wmode" value="transparent">
<param name="flashvars" value="file={{file}}&amp;image={{image}}&amp;width={{width}}&amp;height={{height}}&amp;displaywidth={{width}}&amp;displayheight={{height}}&amp;overstretch=true&amp;autostart=false&amp;showfsbutton=false&amp;logo=http://sciencestage.com/image_s/playerlogo.png&amp;link=http://sciencestage.com/v/{{id}}/{{title}}.html&amp;linktarget=_blank&amp;backcolor=0xFFFFFF">
<param name="allowFullScreen" value="true">
<param name="allowScriptAccess" value="always">
</object>
