<object type="application/x-shockwave-flash" width="{{width}}" height="{{height}}" data="http://sciencestage.com/flvplayer.swf">
<param name="movie" value="http://sciencestage.com/flvplayer.swf" />
<param name="wmode" value="transparent">
<param name="flashvars" value="file={{file}}&amp;width={{width}}&amp;height={{height}}&amp;displaywidth={{width}}&amp;displayheight={{height}}&amp;overstretch=fit&amp;autostart=false&amp;link=http://sciencestage.com/a/{{id}}/{{title}}.html&amp;linktarget=_blank&amp;backcolor=0xffffff">
<param name="allowFullScreen" value="true">
<param name="allowScriptAccess" value="always">
</object>
